<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/fa69bf2d-3430-415f-bf70-70590e52fd98/resourceGroups/microsoft-docker-alm/providers/Microsoft.ContainerRegistry/registries/alejandrolmeida</ResourceId>
    <ResourceName>alejandrolmeida</ResourceName>
    <ResourceGroup>microsoft-docker-alm</ResourceGroup>
    <Subscription>MCT Alejandro Almeida</Subscription>
    <RegistryUrl>https://alejandrolmeida.azurecr.io/</RegistryUrl>
    <UserName>alejandrolmeida</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c7b12a69-5e3e-40bf-9fff-283c85d21f79</ProjectGuid>
  </PropertyGroup>
</Project>